<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmare Donare Sânge</title>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #222222;
      }

      a {
        color: #222222;
        text-decoration: none;
      }

      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }

      .divider {
        border-top: 1px solid #ccc;
        margin: 20px 0;
      }

      .email-wrapper {
        max-width: 700px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
      }

      .email-header {
        background-color: #ffffff;
        padding: 30px;
        text-align: center;
      }

      .email-body {
        padding: 14px;
        background-color: #f4f3f3;
      }

      .email-footer {
        background-color: #1e1e1e;
        padding: 14px;
        color: #ffffff;
      }

      .email-footer a {
        color: #ffffff;
        text-decoration: none;
      }

      img.logo {
        max-width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
      }

      .centered-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        padding: 24px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <img
          src="https://i.postimg.cc/DykxDTB8/LANDSCAPE-Blood-Chain.png"
          class="logo"
          alt="Sigla BloodChain"
        />
      </div>
      <div class="email-body">
        <h1>Confirmare Donare Sânge</h1>
        <p>Bună, <%= name %>,</p>
        <p>Îți mulțumim pentru generozitatea ta de a dona sânge!</p>
        <p>Iată centrele în care poți dona sânge:</p>
        <div class="divider"></div>

        <p><strong>Locație:</strong> Centrul de Transfuzie Sanguină București</p>
        <p><strong>Adresă:</strong> Str. Dr. Constantin Caracaș nr. 2-8, Sector 1, București</p>
        <p><strong>Program:</strong> Luni - Vineri, 07:30 - 13:30</p>
        <p><strong>Telefon:</strong> 031 405 36 60 / 61 / 62</p>
        <p><strong>Email:</strong> secretariat@ctsbucuresti.ro</p>
        <p><strong>Website:</strong> <a href="https://www.ctsbucuresti.ro">ctsbucuresti.ro</a></p>

        <div class="divider"></div>

        <p><strong>Locație:</strong> Centrul Regional de Transfuzii Sanguine Constanța</p>
        <p><strong>Adresă:</strong> Str. Nicolae Iorga nr. 85, Constanța</p>
        <p><strong>Program:</strong> Luni - Vineri, 07:30 - 13:30</p>
        <p><strong>Telefon:</strong> 0341 180 013</p>
        <p><strong>Email:</strong> crts.constanta@donare-sange.ro</p>
        <p><strong>Website:</strong> <a href="https://transfuzie-constanta.ro">transfuzie-constanta.ro</a></p>

        <div class="divider"></div>

        <p><strong>Locație:</strong> Centrul Regional de Transfuzie Sanguină Cluj-Napoca</p>
        <p><strong>Adresă:</strong> Str. Nicolae Bălcescu nr. 18, Cluj-Napoca</p>
        <p><strong>Program:</strong> Luni - Vineri, 07:30 - 13:30</p>
        <p><strong>Telefon:</strong> 0264 592 882 / 0364 411 254</p>
        <p><strong>Email:</strong> crts.cluj@donare-sange.ro</p>
        <p><strong>Website:</strong> <a href="https://www.crtscluj.ro">crtscluj.ro</a></p>

        <img
          src="https://i.postimg.cc/J4k3szG6/human-blood-donate-and-heart-rate-on-white-background-free-vector.jpg"
          alt="Donare de Sânge"
          height="250px"
          width="500px"
          class="centered-img"
        />
        <h3>Notă:</h3>
        <p>Dacă nu ai aplicat pentru donarea de sânge, te rugăm să ne contactezi imediat.</p>
      </div>
      <div class="email-footer">
        <p>
          Dacă ai întrebări, nu ezita să ne contactezi la
          <a href="mailto:bloodchain.salveazavieti@gmail.com">bloodchain.salveazavieti@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>